<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <!-- reset all previous level configurations of all j.u.l. loggers -->
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>[%thread] %-5level %logger [%X{mantaRequestId}] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.joyent" level="warn" />
    <!-- lower these to debug in order to enable most logs -->
    <logger name="com.joyent.manta.client.MantaClient" level="error" />
    <logger name="com.joyent.manta.client.multipart.MantaMultipartIT" level="info" />
    <logger name="com.joyent.manta.client.multipart.MantaMultipartManager" level="debug" />
    <logger name="com.joyent.manta.com.google.api.client.http" level="error" />
    <logger name="com.joyent.manta.org.apache" level="error" />
    <logger name="org.apache.http" level="error" />
    <logger name="sun.net.www.protocol.http" level="error" />

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
