<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>[%thread] %-5level %logger [%X{mantaLoadBalancerAddress} %X{mantaRequestId}] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.joyent" level="info" />
    <!-- lower these to debug in order to enable most logs -->
    <logger name="com.joyent.manta.org.apache" level="error" />
    <logger name="org.apache.http" level="info" />
    <logger name="org.apache.http.wire" level="error" />

    <logger name="sun.net.www.protocol.http" level="error" />

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
