<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>[%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.esotericsoftware.minlog" level="info" />

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
