<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Java Manta Client Test Suite" verbose="1">
    <test name="Manta Utils Test">
        <packages>
            <package name="com.joyent.manta.util.*" />
        </packages>
    </test>
    <test name="Manta HTTP Tests">
        <packages>
            <package name="com.joyent.manta.http.*" />
        </packages>
    </test>
    <test name="General Client tests">
        <classes>
            <class name="com.joyent.manta.client.MantaClientTest" />
            <class name="com.joyent.manta.client.MantaClientAgentTest" />
            <class name="com.joyent.manta.client.MantaClientValidationTest" />
            <class name="com.joyent.manta.client.MantaDirectoryListingIteratorTest" />
            <class name="com.joyent.manta.client.MetricReporterSupplierTest" />
        </classes>
    </test>
    <test name="Configuration Context Tests">
        <groups>
            <define name="config" />
        </groups>
        <classes>
            <class name="com.joyent.manta.config.SystemSettingsConfigContextTest" />
            <class name="com.joyent.manta.config.TestConfigContextTest" />
            <class name="com.joyent.manta.config.ConfigContextTest" />
            <class name="com.joyent.manta.config.ChainedConfigContextTest" />
            <class name="com.joyent.manta.config.MantaClientMetricConfigurationTest" />
            <class name="com.joyent.manta.client.AuthAwareConfigContextTest" />
        </classes>
    </test>
    <test name="Collection and Comparator Tests">
        <classes>
            <class name="com.joyent.manta.client.MantaMetadataTest" />
            <class name="com.joyent.manta.client.MantaObjectDepthComparatorTest" />
        </classes>
    </test>
    <test name="Exception Tests">
        <classes>
            <class name="com.joyent.manta.exception.MantaErrorCodeTest" />
            <class name="com.joyent.manta.exception.OnCloseAggregateExceptionTest" />
        </classes>
    </test>
    <test name="Job Tests">
        <classes>
            <class name="com.joyent.manta.client.jobs.MantaJobTest" />
            <class name="com.joyent.manta.client.jobs.MantaJobPhaseTest" />
        </classes>
    </test>
    <test name="Multipart Tests">
        <classes>
            <class name="com.joyent.manta.client.multipart.EncryptedMultipartManagerTest" />
            <class name="com.joyent.manta.client.multipart.JobsMultipartManagerTest" />
            <class name="com.joyent.manta.client.multipart.MultipartOutputStreamTest" />
            <class name="com.joyent.manta.client.multipart.ServerSideMultipartManagerTest" />
            <class name="com.joyent.manta.client.multipart.TestMultipartManagerTest" />
            <class name="com.joyent.manta.client.multipart.EncryptionStateRecorderTest" />
        </classes>
    </test>
    <test name="Encryption Tests">
        <packages>
            <package name="com.joyent.manta.client.crypto.*" />
        </packages>
        <classes>
            <class name="com.joyent.manta.http.EncryptedHttpHelperTest" />
            <class name="com.joyent.manta.http.MantaHttpHeadersByteRangeTest" />
            <class name="com.joyent.manta.http.MantaHttpHeadersTest" />
        </classes>
    </test>

    <!-- This is commented out because it is an integration test and it doesn't
         play nicely with unit test only runs in CI -->
    <!--<test name="Integration Tests Depending on Shaded Resources">-->
        <!--<classes>-->
            <!--<class name="com.joyent.manta.client.MantaClientConnectionFailuresIT" />-->
        <!--</classes>-->
    <!--</test>-->
</suite>
